## if / elif / else 문
`if <참 거짓 판단 문장> :
    수행할 문장 1
    수행할 문장 2`

- if, elif, else 뒤에는 항상 colon (:)이 필수입니다.
- 들여쓰기를 주의해야 합니다.

In [1]:
hungry = True

if hungry:
    print('I am hungry.')

I am hungry.

In [2]:
old = False

if old:
    print('I am old.')

In [3]:
x = [1,2,3]

if 4 in x:
    print('4 is in the list.')

else:
    print('4 is not in the list.')

4 is not in the list.

In [7]:
money = 30000

if money > 10000:
    print('Take a taxi.')
    
if money > 1500:
    print('Take a bus.')

else:
    print('Walk home.')

Take a taxi.
Take a bus.

In [8]:
money = 3000
card = True

if money > 10000 or card:
    print('Take a taxi.')
    
elif money > 1500:
    print('Take a bus.')

else:
    print('Walk home.')

Take a taxi.

In [9]:
# bool 자료형에는 and/or 연산을 적용할 수 있습니다.

money < 2000 and card

False

In [12]:
# 조건문에서 아무것도 하고 싶지 않을 때

pocket = ['paper', 'money', 'cellphone']

if 'money' in pocket: 
    print('돈을 꺼내라')
else:
    pass

돈을 꺼내라

## while 반복문

`while <참 거짓 판단 문장> :
    위 문장이 참인 경우 실행`

- while 에서 제시된 조건문이 참인 동안에 아래의 문장이 계속 반복됩니다.
- if문과 마찬가지로 들여쓰기가 중요합니다.

In [5]:
# threshold 이하의 3의 배수들을 출력.

threshold = 30

i = 1

while i < threshold:
    if i % 3 == 0:
        print(i)
        
#     i = i + 1 # 없을 때 무한 루프에 주의!
    
    i += 1

3
6
9
12
15
18
21
24
27

### break를 통해 while문 빠져나오기

In [6]:
threshold = 50
num = 1
nums = []

while True:
    if num % 4 == 0 or num % 5 == 0:
        nums.append(num)
    
    if num >= threshold:
        break
    else: 
        num += 1

In [7]:
nums

[4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50]

### continue를 이용해 반복문 처음으로 돌아오기

In [8]:
# 자연수에서 가장 작은 10개의 홀수 찾기

odds = []
n=0

while len(odds) < 10:
    n += 1 # 맨 앞에 두는 경우와 맨 뒤에 두는 경우의 차이 꼭 확인!!
    
    if n % 2 == 0:
        continue
    else:
        odds.append(n)

In [9]:
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## for 문
`for 변수 in 리스트(튜플, 문자열):
    수행할 문장 1
    수행할 문장 2
    ...`

In [10]:
subjects = ['topology', 'analysis', 'algebra', 'geometry', 'applied math']

In [11]:
for subject in subjects:
    
    print(subject)

topology
analysis
algebra
geometry
applied math

In [12]:
for i in subjects:
    print(i)

topology
analysis
algebra
geometry
applied math

In [13]:
i

'applied math'

- subjects 리스트 안에 있는 원소에 subject라는 변수를 대응시킨 후, 들여쓰기 내의 문장을 수행합니다. 
- 즉 subject는 dummy variable의 역할과 비슷하게 아무거나 사용될 수 있지만, for 문이 끝난 후에도 변수는 살아있습니다.

In [14]:
print(subject)

applied math

In [15]:
# 튜플

for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

In [16]:
# 문자열

for a in 'KOREA UNIVERSITY':
    print(a)

K
O
R
E
A

U
N
I
V
E
R
S
I
T
Y

### for문에서 주로 사용되는 `range` 함수

In [17]:
range(10)

range(0, 10)

In [18]:
type(range(10))

range

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
for k in range(2,8):
    print(k)

2
3
4
5
6
7

In [21]:
for z in range(2,10,2):
    print(z)

2
4
6
8

In [22]:
for z in range(5,1):
    print(z)

In [23]:
for a in range(10,2,-1):
    print(a)

10
9
8
7
6
5
4
3

In [24]:
for a in range(10, 2, -2):
    print(a)

10
8
6
4

## 리스트 내포 사용하기

In [25]:
x = []
for i in range(1, 101):
    x.append(i)

In [26]:
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [27]:
y = [j for j in range(1,101)]

In [28]:
y

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

## 파이썬 함수 정의하기

`def <함수명>(매개변수):
    <수행할 문장1>
    <수행할 문장2>`

In [29]:
def add(a,b):
    result = a+b
    return result

In [31]:
def add2(a,b):
    return a+b

In [30]:
num = add(3,4)
num

7

In [32]:
add2(3,4)

7

- `return`이라는 명령어를 통해 결과값을 출력합니다.
- 함수에서 input으로 받아들이는 `a`와 `b`는 **매개변수(parameters)** 라고 부르고, 실제로 대입한 3과 4는 **인수(arguments)** 라고 부릅니다.

In [33]:
# 함수에서의 매개변수는 dummy variable이므로 무엇을 써도 상관없고, 함수 밖에 있는 변수에도 영향을 주지 않습니다.

a= 3

add(a=5,b=1)

6

In [34]:
a

3

### 입력값이 없는 함수

In [35]:
def say_hi():
    print('Hi!')

In [36]:
say_hi()

Hi!

### 결과값이 없는 함수

- 함수의 결과는 항상 `return`을 통해서만 얻어질 수 있습니다.

In [37]:
def multiply(a,b):
    result = a*b
    print(result)

In [38]:
multiply(5,3)

15

In [39]:
z = multiply(5,3)

15

In [40]:
z

In [41]:
type(z)

NoneType

### 입력값도, 결과값도 없는 함수

In [42]:
def do_nothing():
    print('blah blah')

In [43]:
do_nothing()

blah blah

### 매개변수 지정하기

In [44]:
def linear_sum(a,b):
    return 3*a-6*b

In [47]:
linear_sum(1,2)

-9

In [45]:
linear_sum(a=1,b=2)

-9

In [46]:
linear_sum(b=1, a=2)

0

### 함수 정의할 때 기본값(default) 설정하기

- 주로 바뀌지 않는 매개변수의 경우 기본값 인자를 설정할 수 있습니다.
- 기본값을 설정할 매개변수의 경우, 기본값이 설정되지 않는 매개변수보다 뒤에 쓰여야합니다.

In [48]:
def show_id(name, major, school='Korea University'):
    z = 'My name is '+name+'. '
    z += 'My major is '+major+', and I am '+school+' student.'
    return z

In [50]:
show_id('최선묵', '수학')

'My name is 최선묵. My major is 수학, and I am Korea University student.'

In [51]:
def show_id(name, major='math', school):
    z = 'My name is '+name+'. '
    z += 'My major is '+major+', and I am '+school+' student.'
    return z

SyntaxError: non-default argument follows default argument (3467750979.py, line 1)

## lambda 예약어를 통해 만드는 함수

- `lambda`를 통해 만든 함수는 `return`이 없어도 **결과값**을 얻을 수 있다.

In [52]:
add = lambda a, b: a+b

In [53]:
x = add(3,4)

In [54]:
x

7